ul {
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
li {
  list-style: none;
  font-size: 20px;
}
li:hover{
  color:blue;
  cursor: pointer;
}
.CurrentPage {
  background-color: blue;
  border-radius: 20%
}
li a {
  text-decoration: none;
  color: inherit;
}
