ul {
  width: 450px;
  display: flex;
  justify-content: space-between;
  margin: 0;
}
li {
  list-style: none;
  font-size: 20px;
  /*padding: 0 3px 6px 3px;*/
}
li:hover{
  color:blue;
  cursor: pointer;
}
.CurrentPage {
  /*background-color: blue;*/
  /*border: 2px darkgray solid;*/
  border-radius: 20%
}
li a {
  text-decoration: none;
  color: inherit;
}
