<app-header></app-header>
<div class="background">
  <div class="darken">
    <div class="container">
      <div class="SignInTab">
        <span class='SignIn'>Sign-in</span>
      </div>
      <div class="RegisterTab">
        <a routerLink='/register'>Register</a>
      </div>
      <h1>Sign-in with Email</h1>
      <form  #myForm='ngForm' (ngsubmit) = 'onSubmit(myForm)' method="post">
          <input name="Email" type="email" placeholder="Email address" #EmailInput = 'ngModel' [(ngModel)] = 'input.email'>
          <input name="Password" type="password" placeholder="Password" #PasswordInput = 'ngModel' [(ngModel)] = 'input.password'>
          <button name="submitButton" type="submit" (click)='LoginRequest()' routerLink = {{LoginSuccess}} >Sign In</button>
      </form>
      <a class='forgotPass' routerLink="/forgot">forgot password</a>

    </div>
  </div>
</div>
<app-footer></app-footer>
