<app-header></app-header>
<div class="background">
  <div class="darken">
    <div class="container">
      <div class="SignInTab">
        <span class='SignIn'>Sign-in</span>
      </div>
      <div class="RegisterTab">
        <a routerLink='/register'>Register</a>
      </div>
      <h1>Sign-in with Email</h1>
      <form  #myForm='ngForm' (ngsubmit) = 'onSubmit(myForm)' method="post">
          <input required type="email" name='email' placeholder="Email address" #myEmail='ngModel' [(ngModel)] = 'myEmail.input' [style.border]='(myEmail.valid || myEmail.untouched) ? none:"red 1px solid"'>
          <input required type="password" name='password' placeholder="Password" #myPassword='ngModel' [(ngModel)] = 'myPassword.input' [style.border]='(myPassword.valid || myPassword.untouched) ? none:"red 1px solid"' >
          <button name="submitButton" type="submit" (click)= 'loginRequest(myEmail.input, myPassword.input)'>Sign In</button>
      </form>

      <a class='forgotPass' routerLink="/forgot">forgot password</a>

    </div>
  </div>
</div>
<app-footer></app-footer>
