<app-header></app-header>
<app-side-bar></app-side-bar>
<div class="product-page">

  <div class="product-info">
      <div class="product-pics">
            <img class = 'product_main_img inline' #img0 src={{pics[0]}} alt={{productDetails.name}} (click)='changePic(img0.src)'>
            <ul class ='inline'>
              <li><img class = 'thumbnail' #img1 src={{pics[1]}} alt={{productDetails.name}} (click)='changePic(img1.src)'></li>
              <li><img class = 'thumbnail' #img2 src={{pics[2]}} alt={{productDetails.name}} (click)='changePic(img2.src)'></li>
            </ul>
      </div>
      <div class="product-text">
            <h1>{{productDetails.name}}</h1>
            <p>{{productDetails.cost | currency:productDetails.currency:symbol}} </p>
            <app-product-review-line></app-product-review-line>

            <div class="store">
                <h4 class="title">Designer:</h4>
                <img src="{{productDetails.designer}}" alt="dress designer logo">
            </div>

            <div class="productTags">
                <h4 class="title">Tags:</h4>
                <ul>
                    <li *ngFor='let item of tags'>{{item}}, </li>
                </ul>
            </div>

            <div class="ActionButtons">
                      <button class="AddToWishlist" (click)='addWishlist()'><span class="fa fa-heart-o fa-3"></span>Add To Wishlist</button>
                      <button class='link'><a href='{{productDetails.link}}' target="_blank"><span class="fa fa-compress fa-2"></span>Link to Store</a></button>
            </div>
      </div>
  </div>
  <h3>Similar Products:</h3>
</div>
<app-footer></app-footer>
