.footer{
  height: 200px;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}
.footer-head {
  background-color:  #546E7A;
  height: 160px;
}
.footer-bottom {
  background-color:  #4A148C;
  height: 40px;
}
.creditline {
  position: relative;
  color:white;
  float: right;
  top:-5px;
  right: 10px;
}
