nav {
  position: relative;
  font-family: 'Alegreya Sans', sans-serif;
}
ul {
  padding: 0;
  margin:0;
}
.filters{
 display: flex;
  justify-content: center;
}
li {
  list-style: none;
  font-size: 17px;
  padding-right: 50px;
}
h3 {
  position: relative;
  font-size: 1.17em;
}

@media screen and (max-width: 800px) {
  li {
    font-size: 14px;
    padding-right: 20px;
    }
}
@media screen and (max-width: 400px) {
  li {
    font-size: 9px;
    }
  ul{
    padding-left: 10px;
    }
    nav{
      margin-left: 10px;
    }
}
