<nav class='sitemap'>
  <ul class='filters'>
    <li class="mainlist">
      <h3>About Us</h3>
        <ul>
          <li>Our Vision</li>
          <li>Terms of Use</li>
          <li>Careers</li>
          <li>Contact Us</li>
        </ul>
    </li>
    <li class="mainlist">
      <h3>My Account</h3>
        <ul>
          <li>Settings</li>
          <li>My Wishlist</li>
        </ul>
    </li>
    <li class="mainlist">
      <h3>Publishers</h3>
        <ul>
          <li>Publish at Looking Good</li>
          <li>Publisher Account</li>
          <li>Terms & conditions</li>
          <li>Contact Us</li>
        </ul>
    </li>
    <li class="mainlist">
      <h3>Other Services</h3>
      <ul>
        <li>Feeling Good</li>
        <li>News</li>
        <li>Blog</li>
        <li>Webinars</li>
      </ul>
    </li>
  </ul>
</nav>
