
<app-header></app-header>
<app-side-bar></app-side-bar>
  <div class="background">
  <div class="main">

  <div class="perfectLook">
      <div class="title-container">
          <h1>Find The Perfect Look For Your Speacial Day</h1>
      </div>
      <div class="perfectLook-text-container">
      <p >Use our special search tools to find the perfect dress that matches your vibe, looks and style without having to compramise on any of the important details.</p>
      </div>
      <div class="modelPicscontainer">
          <img class='modelPics' src="{{modelPics[0]}}" alt="feelingGood- Find The Perfect Look For Your Speacial Day">
          <img class='modelPics' src="{{modelPics[1]}}" alt="feelingGood- Find The Perfect Look For Your Speacial Day">
          <img class='modelPics' src="{{modelPics[2]}}" alt="feelingGood- Find The Perfect Look For Your Speacial Day">
      </div>
  </div>
  <div class="shopbyBodytype">
        <div class="shopbyBodytype-title-container">
            <h1>Shop by body type to get a perfect look</h1>
        </div>
        <div class="shopbyBodytype-text-container">
        <p >Women are beautiful in every size and shape, but each one of us is different. use our <strong>Search By Bodytype</strong> tool to get the perfect dresses FOR YOU.</p>
        </div>
        <div class="bodyshapes">
            <div class="bodytype_title_container">
                <h2 class='bodytype_title'>Shop By Body Type:</h2>
            </div>
            <div class='bodyshapes-img'>
                   <img class='body_img' src="assets/bodyShape_hourglass.png" alt="bodyshape hourglass image">
                   <img class='body_img' src="assets/bodyShape_triangle.png" alt="bodyshape hourglass image">
                   <img class='body_img' src="assets/bodyShape_square.png" alt="bodyshape hourglass image">
                   <img class='body_img' src="assets/bodyShape_circle.png" alt="bodyshape hourglass image">
                   <img class='body_img' src="assets/bodyShape_opTriangle.png" alt="bodyshape hourglass image">
            </div>
      </div>
  </div>

  <app-footer></app-footer>
  </div>
</div>
