<app-header></app-header>
<div class="background">
  <div class="darken">
    <div class="container">
      <h4> Welcome to your account!</h4>
      <div class="goto">
      <button class="AddToWishlist browse" routerLink = '/brides'><span class="fa fa-cart-plus fa-3"></span>Browse for more</button>
      <button class="AddToWishlist tags"><span class="fa fa-tags fa-3"></span>My Tags</button>
      <button class="AddToWishlist wishlist" routerLink = '/myAccount/wishlist'><span class="fa fa-heart-o fa-3"></span>My Wishlist</button>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
