img {
  width: 240px;
  height: 360px;
  border: 2px solid gray;
}
img:hover{
  cursor: pointer;
}
ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
li {
  list-style: none;
}
