app-header {
  margin: 0;
  padding: 0;
}
.bridesmaids-main{
  position: absolute;
  top:150px;
  width:100%;
  background-image: url('https://data.whicdn.com/images/190387266/large.png');
  background-repeat: no-repeat;
  background-size: cover;
  padding:0;
  margin: 0;
}
.dresses-menu {
  position: relative;
  top:200px;
  width: inherit;
  height: inherit;
}
 app-footer {
  position: relative;
  top: 180px;
}
img {
  width: 240px;
  height: 360px;
}
img:hover{
  cursor: pointer;
}
ul {
  display: flex;
  width: inherit;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2px;
}
li {
  list-style: none;
}

@media screen and (max-width: 1200px) {
  img {
    width: 216px;
    height: 324px;
  }
  app-side-bar{
    font-size: 12px;
    visibility: hidden;
  }
  .dresses-menu {
    position: relative;
    top:0px;
  }
}
@media screen and (max-width: 800px) {
  .bridesmaids-main{
    position: absolute;
    top:150px;
  }
  img {
    width: 168px;
    height: 252px;
  }
  app-side-bar{
    visibility: hidden;
  }

  .dresses-menu {
    position: relative;
    top:0px;
  }
  app-footer {
   position: relative;
   top: 50px;
 }
}
@media screen and (max-width: 400px) {
  img {
    width: 72px;
    height: 108px;
  }
  app-footer {
   position: relative;
   top: 0px;
 }
}
